
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrowdTunes</title>
</head>
<body>
    <h1>CrowdTunes</h1>
    <p>CrowdTunes is a provider of interactive audio technology.  You can vote on your favorite tunes!<p>
    <p> I like pizza </p>
    <p>hi</p>
    <hr>

    <p>Here is your song: <a href="/download/{{ file_name }}">Click</a></p>
    <audio controls autoplay>
        <source src="/download/{{ file_name }}" type="audio/wav">

        Your browser does not support the audio element.
    </audio>
    <p>The string representing this melody is: {{ string }}</p>

    {% crispy form %}
</body>
</html>
