<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrowdTunes</title>
</head>
<body>
    <h1>CrowdTunes</h1>
    <p>CrowdTunes is a provider of interactive audio technology.  You can vote on your favorite tunes!<p>
    <p> I like pizza </p>
    <p>hi</p>
    <hr>

    <p>Here is your song: <a href="/download/{{ file_name }}">Click</a></p>
    <audio controls autoplay>
        <source src="/download/{{ file_name }}" type="audio/wav">

        Your browser does not support the audio element.
    </audio>
    <p>The string representing this melody is: {{ string }}</p>

   <ul>
    <li>
        {{ myform.chosenScores.0 }}
        <input type="radio" name="score" value="0" checked> 0 <br>
    </li>
    <li>
        {{ myform.chosenScores.1 }}
        <input type="radio" name="score" value="1"> 1 <br>
    </li>
       <li>
        {{ myform.chosenScores.2 }}
        <input type="radio" name="score" value="2"> 2 <br>
    </li>
       <li>
        {{ myform.chosenScores.3 }}
        <input type="radio" name="score" value="3"> 3 <br>
    </li>
       <li>
        {{ myform.chosenScores.4 }}
        <input type="radio" name="score" value="4"> 4 <br>
    </li>
       <li>
        {{ myform.chosenScores.5 }}
        <input type="radio" name="score" value="5"> 5 <br>
    </li>
</ul>
</body>
</html>
